.header {
    width: 100%;
    box-sizing: border-box;
    padding-top: 28px;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 600px) {
    .header {
      padding-top: 16px;
    } 
  }