.cover__overlay {
  margin: 0 auto;
  background: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: calc(1024px + 160*(100vw - 1024px)/(1280 - 1024));
  max-width: 1184px;
  height: calc(100vw/1.6) ;
  max-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  text-decoration: none;
  color: #FFFFFF;
}

.cover__overlay::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .7s ease;
}
  
.cover__overlay:hover::before {
  opacity: .8;
}

.cover__overlay:hover {
  opacity: 60%;
}

@media screen and (max-width:1024px) {
  .cover__overlay {
    width: calc(768px + 256*(100vw - 768px)/(1024 - 768));
  }
}