.cover__overlay {
  margin: 0 auto;
  background: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: calc(1024px + 160*(100vw - 1024px)/(1280 - 1024));
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.cover__overlay::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .7s ease;
}
  
.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (max-width:1150px) {
  .cover__overlay {
    min-height: calc(1102.75px / 1.6);
  }
}
  
@media screen and (max-width:1080px) {
  .cover__overlay {
      min-height: calc(1059px / 1.6);
  }
}
  
@media screen and (max-width:1024px) {
  .cover__overlay {
    width: calc(768px + 256*(100vw - 768px)/(1024 - 768));
    min-height: calc(1024px/ 1.6);
  }
}
  
@media screen and (max-width:955px) {
  .cover__overlay {
    min-height: calc(955px / 1.6);
  }
}
  
@media screen and (max-width:880px) {
  .cover__overlay {
    min-height: calc(880px / 1.6);
  }
}
  
@media screen and (max-width:840px) {
  .cover__overlay {
    min-height: calc(840px / 1.6);
  }
}
  
@media screen and (max-width:768px) {
  .cover__overlay {
    min-height: calc(768px / 1.6);
  }
}

@media screen and (max-width:700px) {
  .cover__overlay {
    min-height: calc(700px / 1.6);
  }
}
  
@media screen and (max-width:600px) {
  .cover__overlay {
    min-height: calc(600px / 1.6);
  }
}
  
@media screen and (max-width:500px) {
  .cover__overlay {
    min-height: calc(500px / 1.6);
  }
}
  
@media screen and (max-width:400px) {
  .cover__overlay {
    min-height: calc(400px / 1.6);
  }
}
  
@media screen and (max-width:320px) {
  .cover__overlay {
    min-height: calc(320px / 1.6);
  }
}
  